#1c1c1c
#eeeeee

#1c1c1c  # black
#af005f  # red
#5faf00  # green
#d7af5f  # yellow
#5fafd7  # blue
#808080  # magenta
#d7875f  # cyan
#d0d0d0  # white
#bcbcbc   # bright black
#5faf5f   # bright red
#afd700   # bright green
#af87d7   # bright yellow
#ffaf00   # bright blue
#ff5faf   # bright magenta
#00afaf   # bright cyan
#5f8787   # bright white

#444444

#eeeeee  # black
#af0000  # red
#008700  # green
#5f8700  # yellow
#0087af  # blue
#878787  # magenta
#005f87  # cyan
#764e37  # white
#bcbcbc   # bright black
#d70000   # bright red
#d70087   # bright green
#8700af   # bright yellow
#d75f00   # bright blue
#d75f00   # bright magenta
#4c7a5d   # bright cyan
#005faf   # bright white

