[Unit]
Description=Fix internal audio on ASUS Zenbook UX580
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/bin/sh '/usr/local/bin/fix_headphones_audio.sh'

[Install]
WantedBy=sound.target multi-user.target suspend.target hibernate.target hybrid-sleep.target
