[Unit]
Description=Powertop tunings
After=powertop.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo 0 > /sys/class/leds/asus::screenpad/brightness'

[Install]
WantedBy=multi-user.target
