[Unit]
Description=Fix internal audio on ASUS Zenbook UX580
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/bin/sh '/usr/local/bin/usb-unbind.sh'

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target
