[Desktop Entry]
Name=STM32CubeIDE Project Import
Exec="/home/haibane/st/stm32cubeide_1.14.0/plugins/com.st.stm32cube.ide.mcu.ide_2.4.0.202311160957/resources/project_importer/linux/STM32CubeIDE (project importer)" %U
MimeType=application/x-mcuproject
Icon=/home/haibane/st/stm32cubeide_1.14.0/icon.xpm
NoDisplay=true
Terminal=false
Type=Application
Categories=
Comment=
	
