Set Term="foot"

function("SfwbarInit") {
}

include("winops.widget")

layout {
  layer = "top"

  include("startmenu.widget")
  #include("vdesktop_mv.widget")

  # add a taskbar
  taskbar {
    css = "* { -GtkWidget-vexpand: false;  border-radius: 0px; }"
    sort = false
    icons = true     # display icons
    labels = false   # don't display titles
    cols = 1
    action[3] = Menu "winops"
  }

  label {
    css = "* { -GtkWidget-vexpand: true; }"
  }

  grid {
      css = "* { background-color: rgba(135, 135, 135, 1.0);  border-radius: 0px; }"
      tray {
        cols = 1
      }
  }

  include("idle.widget")
  include("volume.widget")
  include("battery-svg.widget")

  grid {
    style = "frame"
      css = "* { background-color: rgba(238, 238, 238, 1.0);  border-radius: 0px; }"
      grid {
        css = "* { -GtkWidget-direction: bottom; }"
        #include("xclock.widget")
        label {
          value = Time("%H:%M")
          style ="clock"
        }
        label {
          value = Time("%m/%d")
          style ="clock"
        }
      }
  }
}

#CSS
window { -GtkWidget-direction: left;
  border-radius: 0px;
  background-color: rgba(208, 208, 208, 1.0);
}

#hidden {
  -GtkWidget-visible: false;
}

button#taskbar_normal *, button#taskbar_active *, button#taskbar_normal:hover * {
  padding: 4px;
  min-height: 24px;
  /* background-color: rgba(208, 208, 208, 1.0); */
  -GtkWidget-hexpand: true;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  min-height: 24px;
  padding: 0px;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  min-height: 24px;
  padding: 1px;
  background-image: none;
  border-radius: 0px;
  border-image: none;
}

button#taskbar_active {
  background-color: rgba(238, 238, 238, 1.0);
}

button#taskbar_normal:hover {
  background-color: rgba(188, 188, 188, 1.0);
}

grid#frame {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
}

grid#layout {
  padding: 1px;
  -GtkWidget-direction: bottom;
}

label {
  font: 12px sans;
  color: @theme_fg_color;
}

label#clock {
  padding-left: 2px;
  padding-right: 2px;
  -GtkWidget-vexpand: false;
  -GtkWidget-halign: center;
  font: 12px Sans;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  background-image: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-image: none;
  border-radius: 0px;
  outline-style: none;
  box-shadow: none;
  -GtkWidget-direction: bottom;
}

tooltip label {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}
