Set Term="foot"

function("SfwbarInit") {
  SetLayer "background"
  SetMonitor "eDP-1"
}

placer {
  xstep = 5    # step by 5% of desktop horizontally
  ystep = 5    # step by 5% of desktop vertically
  xorigin = 5
  yorigin = 5
  children = false
}

# Task Switcher

switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

# Panel layout

layout {

  # add a taskbar
  taskbar {
    css = "* { -GtkWidget-vexpand: false; }" # take up empty space, set icon size
    icons = true     # display icons
    labels = false   # don't display titles
    cols = 1        # stack window buttons across two rows
    action[3] = Menu "winops"
    sort = false
  }

  label {
    css = "* { -GtkWidget-vexpand: true; }" # min-width: 40px; }"
  }

  # add a pager
  # pager {
  #   preview = true
  #   cols = 2
  #   pins = "1","2","3","4"
  # }

  # include("idle.widget")

  # include("battery-svg.widget")
  # include("network-module.widget")
  include("volume.widget")

  # tray

  # include("clock.widget")

  label {
      value = Time("%k:%M")
  }
}

#CSS
window {
  -GtkWidget-direction: left;
  background-color: #d0d0d0;
}

#hidden {
  -GtkWidget-visible: false;
}

button#taskbar_normal *, button#taskbar_active *, button#taskbar_normal:hover * {
  min-height: 30px;
  min-width: 30px;
  -GtkWidget-hexpand: true;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  min-height: 30px;
  min-width: 30px;
  padding: 0px;
  font: 12px Sans;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  min-height: 30px;
  min-width: 30px;
  padding: 1px;
  background-image: none;
  border-radius: 0;
  border-image: none;
}

button#taskbar_active {
  background-color: #5fafd7;
}

button#taskbar_normal:hover {
  background-color: #808080;
}

button#pager_normal , button#pager_visible , button#pager_focused {
  -GtkWidget-hexpand: true;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  border-radius: 0;
  border-image: none;
  font: 12px Sans;
}

button#pager_focused {
  background-color: #bbddff;
}

button#pager_preview {
  background-image: none;
  border-radius: 0;
  border-image: none;
  border-color: #000000;
  border-width: 2px;
  color: #777777;
  min-width:200px;
  min-height: 40px;
}

grid#pager {
  outline-color: #000000;
  outline-style: dashed;
  outline-width: 2px;
}

grid#switcher_active *, grid#switcher_active, grid#switcher_active * * {
  min-width: 40px;
  min-height: 40px;
  background-color: #bbddff;
  border-image: none;
  border-radius: 0;
  padding: 2px;
}

grid#switcher_normal *, grid#switcher_normal {
  min-width: 40px;
  min-height: 40px;
  border-image: none;
  padding: 2px;
}

window#switcher {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 0px;
  padding: 2px;
}

grid#switcher {
  border-radius: 0px;
  padding: 2px;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  background-image: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-image: none;
  border-radius: 0px;
  outline-style: none;
  box-shadow: none;
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: true;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  -GtkWidget-vexpand: true;
}

progressbar {
  padding-left: 2px;
  padding-right: 2px;
  -GtkWidget-hexpand: true;
  -GtkWidget-direction: right;
}

progress, trough {
  border-radius: 0;
  border-color: #9c9c9c;
}

progress {
  border-style: outset;
  min-height: 2px;
}

trough {
  background-color: #a1a1a1;
  border-style: inset;
  min-height: 2px;
  min-width: 2px;
}

grid#scales {
  -GtkWidget-direction: bottom;
}

grid#frame {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
  min-height: 40px;
  border-color: #9c9c9c;
  border-style: groove;
  border-width: 2px;
  padding-top: 2px;
}

grid#layout {
  padding: 2px;
  -GtkWidget-direction: bottom;
}

label#value {
  -GtkWidget-hexpand: true;
  -GtkWidget-align: 1;
  padding-right: 2px;
  padding-left: 2px;
}

image#value_icon {
  min-width: 12px;
  min-height: 12px;
}

button#module {
  -GtkWidget-hexpand: true;
}

label {
  font: 12px Sans;
  color: #000000;
}

tooltip label {
  color: #cccccc;
}

label#awesome {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
