[Desktop Entry]
Name=Breeze Light Flat
Name[en_GB]=Breeze Light Flat
Name[fr]=Breeze clair plat
Name[x-test]=xxBreeze Light Flatxx

X-KDE-PluginInfo-Author=ariasuni
X-KDE-PluginInfo-Email=perso@hack-libre.org
X-KDE-PluginInfo-Name=breeze-light-flat
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-Website=https://framagit.org/ariasuni/breeze-flat
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
