[user]
	email = atbjyk@protonmail.com
	name = yuiiio
	signingkey = /home/haibane/.ssh/id_ed25519
[merge]
	tool = vimdiff
    conflictStyle = zdiff3
[mergetool "vimdiff"]
	path = nvim
[core]
	editor = nvim
[pull]
	rebase = true
[init]
	defaultBranch = main
[credential]
	helper = cache
[gpg]
	format = ssh

[push]
    default = current
    autoSetupRemote = true
    useForceIfIncludes = true
    followTags = true

[rebase]
    updateRefs = true # stacked branchをrebaseに追従させる(別worktreeは更新されない)
    autoSquash = true #  --fixup=<commit> のあと、rebase -i <base-branch>で自動並び替え

[rerere]
    enabled = true

[branch]
    autoSetupMerge = simple

[fetch]
    prune = true # remoteで削除されたtracking branchを削除
[alias] #マージ済みbranchのみ削除(git branch -d)
    gone = "!f() { git fetch --prune && git branch --format='%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" { print $1 }' | xargs -r git branch -d; }; f"
