* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Noto Sans CJK KR Regular";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  /* background: none; */
  background-color: #2e3440; 
  color: #4c566a;
}

#workspaces,
#window {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #4c566a;
  font-size:14px;
  font-weight: bold;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: none;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock,
#upower,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#mode,
#custom-cpuclock,
#custom-gpuclock,
#idle_inhibitor {
  margin: 1px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #4c566a;
  color: #ffffff;
}

#custom-cpuclock {
  font-size:15px;
  background-color: #e5e9f0;
  color: #2e3440;
}

#custom-gpuclock {
  font-size:15px;
  background-color: #e5e9f0;
  color: #2e3440;
}

#wireplumber {
    color: #ebcb8b;
}
#wireplumber.muted {
    color: #d08770;
}

#tray {
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #5e81ac;
  color: #ffffff;
}

#taskbar button {
  border: 1px solid #4c566a;
}

#taskbar button.active {
  background-color: #4c566a;
  border: 1px solid #81a1c1;
}

#clock {
  font-size:14px;
  /* font-weight: bold; */
}

#upower.charging {
    color: #a3be8c;
}

#upower.empty {
    color: #bf616a;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#workspaces {
  background-color: #bcbcbc;
  color: #2d3436;
}

#workspaces button {
  background-color: #bcbcbc;
  border: 1px solid #4c566a;
  color: #2d3436;
}

#workspaces button.active {
  background-color: #af87d7;
  color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/*

window#waybar.solo {
background-color: #FFFFFF;
}

window#waybar.termite {
background-color: #3F3F3F;
}

window#waybar.chromium {
background-color: #000000;
border: none;
}
 */
