* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Noto Sans CJK KR Regular";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  /* background: none; */
  background-color: #1c1c1c; 
  color: #eeeeee;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: none;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#clock,
#upower,
#backlight,
#wireplumber,
#custom-cpuclock,
#custom-gpuclock,
#idle_inhibitor {
  margin: 1px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #1c1c1c;
  color: #eeeeee;
}

#custom-cpuclock {
  font-size:15px;
  background-color: #e5e9f0;
  color: #2e3440;
}

#custom-gpuclock {
  font-size:15px;
  background-color: #e5e9f0;
  color: #2e3440;
}

#wireplumber {
    background-color: #d7af5f;
    color: #1c1c1c;
}
#wireplumber.muted {
    background-color: #d7875f;
    color: #1c1c1c;
}

#tray {
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #5e81ac;
  color: #ffffff;
}

#taskbar button {
  border: 1px solid #878787;
}

#taskbar button.active {
  background-color: #bcbcbc;
  border: none;
}

#clock {
  font-size:14px;
  /* font-weight: bold; */
}

#upower.charging {
    color: #a3be8c;
}

#upower.empty {
    color: #bf616a;
}

label:focus {
  background-color: #000000;
}

#workspaces {
  background-color: #bcbcbc;
  color: #1c1c1c;
}

#workspaces button {
  background-color: #bcbcbc;
  border: 1px solid #4c566a;
  color: #1c1c1c;
  padding-top: 0;
  padding-bottom: 0;
}

#workspaces button.active {
  background-color: #af87d7;
  color: #1c1c1c;
}

#idle_inhibitor.activated {
  background-color: #eeeeee;
  color: #1c1c1c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/*

window#waybar.solo {
background-color: #FFFFFF;
}

window#waybar.termite {
background-color: #3F3F3F;
}

window#waybar.chromium {
background-color: #000000;
border: none;
}
 */
